/**************
Reset default browser CSS. 
Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
**************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}



/****************
 * PAGE STRUCTURE
 ***************/
body { 
	margin: 0; 
	padding: 0; 
	font: 100% 'Helvetica', Arial;
	background: #000 url(../img/bg.jpg);
	}

#controls {
	width: auto;
	left: 20px;
	top: 20px;
	position: absolute;
	text-align: center;
	z-index: 999;
	}
#controls a {
	margin: 0 12px 0 0;
	float: left;	
	}
	
	a.button {
		width: 160px;
		height: 20px;
		margin: 0 0 10px 0;
		padding: 8px 10px;
		display: block;
		
		color: #fff;
		font-size: 0.8em;
		font-weight: bold;
		line-height: 22px;
		
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
		-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
		box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
		border: rgba(0, 0, 0, .2) 1px solid;
		border-bottom: rgba(0, 0, 0, .4) 1px solid;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background: -moz-linear-gradient(
		 center top,
		 rgba(255, 255, 255, .15) 0%,
		 rgba(0, 0, 0, .15) 100%
		 );
		background: -webkit-gradient(
		 linear,
		 center bottom,
		 center top,
		 from(rgba(0, 0, 0, .15)),
		 to(rgba(255, 255, 255, .15))
		 );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')";
		white-space: nowrap;
		-moz-user-select: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		user-select: none;
		text-align: center;
		text-decoration: none;
		}
	a.button-small {
		width: 20px;
		}	
	a.button.blue {
		background-color: #2B6974;
		}
	a.button.blue:hover {
		background-color: #1B5964;
		}
	
#text {
	position: absolute;
	left: 30px;
	top: 30px;
	z-index: 9999;
	}
	#text div {
		width: 200px;
		display: none;
		padding: 10px;
		position: absolute;
		background: #fff;
		-moz-opacity: 0.7;
		-webkit-opacity: 0.7;
		opacity: 0.7;
		
		-moz-border-radius: 5px;
		-webkitborder-radius: 5px;
		border-radius: 5px;
		
		border: 1px solid #e0e0e0;
		
		}
		#text div label {
			width: 90px;
			height: 15px;
			display: block;
			float: left;
			}
		#text div label.title {
			width: 100%;
			height: 15px;
			display: block;
			float: none;
			font-size: 1.2em;
			font-weight: bold;
			color: #990000;
			font-style: italic;
			}
		#text div span {
			width: 90px;
			height: 15px;
			clear: both;
			}